@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    .navbar-icon {
        @apply relative flex items-center 
        justify-center h-9 w-9 laptop:w-fit laptop:flex-none laptop:place-self-center;
    }

    ;

    .input-style {
        @apply border-2 outline-green-200 rounded-full p-1 pl-4 w-[250px] tablet:w-[400px];
    }

    ;

    .button-style {
        @apply border border-green-900 bg-green-200 rounded-full text-base p-1 mt-5 shadow-xl tablet:text-[25px] cursor-pointer hover:bg-green-300;
    }

    .laptop-display {
        @apply top-0 gap-8 place-content-around h-32
    }

    .grid-view {
        @apply grid grid-cols-3 gap-2
    }

    .plant-laptop {
        @apply px-0 pb-2 pl-2
    }

    @layer base {
        html {
          font-family: Proxima Nova, system-ui, sans-serif;
          scroll-behavior: smooth;
          background-color: #E7EDDE;
        }
      }

};