@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .navbar-full {
    @apply;
  }

  .input-style {
    @apply border-b-black border-b-[1px] pl-3 h-[48px] focus:outline-none hover:border-black hover:border-[1px] focus:border-black focus:border-[1px] py-2 tablet:px-4;
  }

  .input-style::placeholder {
    @apply text-slate-500;
  }

  .custom-file-upload {
    @apply flex gap-2 border-b-black border-b-[1px] focus:outline-none hover:border-black hover:border-[1px] focus:border-black focus:border-[1px] py-2 px-4 cursor-pointer w-[50%] tablet:mr-4 place-self-center h-[48px];
  }

  .input-container {
    @apply w-11/12 tablet:p-2 tablet:w-[500px] tablet:place-self-center tablet:px-4;
  }

  .button-style {
    @apply border h-[48px] font-medium transition-all hover:opacity-70 duration-[250ms] bg-[#224722] text-[#D9F8B9] text-base py-2 px-6 mt-5 shadow-xl cursor-pointer;
  }

  .laptop-display {
    @apply top-0 gap-8 place-content-around h-32;
  }

  .grid-view {
    @apply grid grid-cols-3 place-self-center max-w-[1200px];
  }

  .search-icon {
    width: 100%;
    font-size: 16px;
    background-image: url('/opt/build/repo/front-end/src/icons/searchIcon.png');
    /* background-image: url('/Users/janmatias/Documents/dev/web-apps/Plantasynch/front-end/src/icons/searchIcon.png'); */
    background-position: 7px 7px;
    background-size: 25px 25px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
  }

  @layer base {
    html {
      width: 100%;
      height: 100%;
      margin: 0%;
      scroll-behavior: smooth;
      overflow: contain;
      overflow-x: hidden;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

    body {
      font-family: Tahoma, Verdana, Segoe, sans-serif;
    }

    #search::-webkit-search-cancel-button {
      position: relative;
      right: 20px;
    }
  }

  @layer utilities {
    .scanner-clip {
      clip-path: inset(0);
      box-shadow: 0 0 50px 10px #00ffa0;
      background-color: #00ffa0;
    }
  }
}
