@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .navbar-full {
    @apply;
  }

  .input-style {
    @apply border-b-black border-b-[1px] text-slate-500 focus:outline-none hover:border-black hover:border-[1px] focus:border-black focus:border-[1px] py-2 px-4;
  }

  .input-style::placeholder {
    @apply text-slate-500;
  }

  .custom-file-upload {
    @apply flex gap-2 border-b-black border-b-[1px] text-slate-500 focus:outline-none hover:border-black hover:border-[1px] focus:border-black focus:border-[1px] py-2 px-4 cursor-pointer w-[50%] mr-4 place-self-center h-[41px];
  }

  .input-container {
    @apply w-11/12 tablet:w-[500px] tablet:place-self-center tablet:px-4;
  }

  .button-style {
    @apply border font-medium transition-all hover:opacity-70 duration-[250ms] bg-[#224722] text-[#D9F8B9] text-base py-2 px-6 mt-5 shadow-xl cursor-pointer;
  }

  .laptop-display {
    @apply top-0 gap-8 place-content-around h-32;
  }

  .grid-view {
    @apply grid grid-cols-3 px-[12%];
  }

  @layer base {
    html {
      width: 100%;
      height: 100%;
      margin: 0%;
      scroll-behavior: smooth;
      overflow: contain;
      overflow-x: hidden;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

    body {
      font-family: Tahoma, Verdana, Segoe, sans-serif;
    }

    #search::-webkit-search-cancel-button {
      position: relative;
      right: 20px;
    }
  }

  @layer utilities {
    .scanner-clip {
      clip-path: inset(0);
      box-shadow: 0 0 50px 10px #224722;
      background-color: #224722;
    }
  }
}
